html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-control:focus {
  border-color: #d40083;
}

.form-label-group input:not(:placeholder-shown) ~ label {
  color: #d40083;
}

input{
  width: 80%;
  font-size: 2em;
}

.submit {
  background: #d40083;
  color: #fff;
  cursor: pointer;
  margin-bottom: 0;
  text-transform: uppercase;
  width: 20%;
  font-size: 2em;
  border-radius: 5px;
  height: 100%;
  border-color: transparent;
  box-shadow: 0px;
  outline: none;
  transition: 0.15s;
  text-align: center;
}

.userinput{
  position: absolute;
  bottom: 0;
  flex-direction: row;
  display: flex;
  width: 100%;
  height: 10%;
}

.container{
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: 'NATS', sans-serif;
  background-color: #000000;
  width: 80%;
  height: 1000px;
}

.chat_container{
  display: flex;
  flex-direction: column;
  overflow-y:auto;
  height: 90%;
  padding: 5%;
  padding-bottom: 18%;
}

.user_chatbox, .nlp_chatbox{
  display: inline-block;
  align-self: stretch;
  border-radius: 20px;
  padding: 2%;
  font-size: 1.5em;
  margin-bottom: 2%;
}

.user_chatbox{ 
  /* Right Element */
  text-align: right;
  background-color: rgb(35, 121, 192);
  color: #fff;
}

.nlp_chatbox{
  /* Left Element */
  text-align: left;
  background-color: rgb(132, 35, 192);
  color: #fff;
}